html {
    box-sizing: border-box;    
    background-color: rgb(189, 229, 234);
}

body {
    max-width: 900px;
    margin: auto;
}

#container {
    background-color: powderblue;
}

#playingBoard div {
    margin: auto;     
}

h1, h2 {
    text-align: center;
}

#startGameBtn {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border-radius: 8px;
    width: 100px;
    padding: 5px;
}

img:hover {
    transform: scale(1.25)
}

button {
    margin: 5px;
    padding: 5px;
    background-color: #245f92;
    color: white;
    border-radius: 3px;
}

#startGameBtn {
    display: block;
}

#drawBtn, #passBtn, #newGameBtn {
    display: none;
    margin: 20px;
}

#userInfo, #computerInfo {    
    background-color: rgb(237, 250, 250);
    min-width: 400px;
    min-height: 300px;
    margin: 10px;
}

#playBtns {
    text-align: center;
}

#userInfo, #computerInfo, #winner {
    text-align: center;   
}

#winner {
    font-size: xx-large;
}


@media (min-width: 768px) {
    #playingBoard {
        display: flex;
    }

    div#rules {        
        margin: auto;
        width: 600px;
    }

    #userInfo {
        margin-right: 5px;
    }
    
    #computerInfo {
        margin-left: 5px;
    }

}