html {
    box-sizing: border-box;
    background-color: powderblue;
}

body {
    max-width: 900px;
    margin: auto;
}

#playingBoard div {
    margin: auto;     
}

h1, h2 {
    text-align: center;
}

#startGameBtn {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border-radius: 8px;
    width: 100px;
    padding: 5px;
}

#startGameBtn {
    display: block;
}

#drawBtn, #passBtn {
    display: none;
}

#userInfo, #dealerInfo {    
    background-color: rgb(195, 230, 230);
    min-width: 400px;
    min-height: 300px;
    margin: 10px;
}
#userInfo, #dealerInfo {
    text-align: center;
    
}




@media (min-width: 768px) {
    #playingBoard {
        display: flex;
    }



}